@model LeadTheWay.GraphLayer.Map.Domain.Models.GraphMap

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GraphMap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GraphString)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GraphString)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDefault)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDefault)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NodeHistoryString)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NodeHistoryString)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EdgeHistoryString)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EdgeHistoryString)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
