@model LeadTheWay.GraphLayer.Link.Domain.Models.IntercityLink

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IntercityLink</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EdgeString)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EdgeString)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DurationTicks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DurationTicks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceClass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimetableString)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimetableString)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
