@model IEnumerable<LeadTheWay.GraphLayer.Link.Domain.Models.IntercityLink>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-6">
        <h2 class="text-info">Links (Edges) between stations</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Edge</a>
    </div>
</div>
<div>
    <table class="table table-striped border">
        <thead>
            <tr class="table-info">
                <th>
                    Edge String
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Length)
                </th>
                <th>
                    Duration (minutes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    Service Class (1-5 stars)
                </th>
                <th>
                    Timetable String (not implemented yet)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EdgeString)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Length)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => TimeSpan.FromTicks(item.DurationTicks).TotalMinutes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceClass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimetableString)
                    </td>
                    <td>
                        <partial name="_TableButtonPartial" model="item.Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>