@using LeadTheWay.GraphLayer.Map.Service;
@using LeadTheWay.GraphLayer.Map.Service.Search.Services;
@using LeadTheWay.GraphLayer.Map.Service.Search.Services.Utility;
@using LeadTheWay.Models.ViewModels;
@using LeadTheWay.Extensions;

@model MapServiceViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

@*@if (User.IsInRole(StaticDetails.AdminUser))
    {
        <a class="nav-link" asp-area="Admin" asp-controller="MapsManagement" asp-action="Index">Manage Maps</a>
    }*@
<img src="~/images/Map.png" style="position: absolute; max-width:30%; margin-left: 400px; opacity:0.75" />
<div style="position: absolute; margin-left: 1000px; border-left: 2px solid gray;">
    <div style="margin-left:10px">
        Plovdiv &lt;-&gt; Sofia 144km, BGN 14<br />
        Plovdiv &lt;-&gt; Burgas 253km, BGN 18<br />
        Plovdiv &lt;-&gt; Haskovo 97km, BGN 4<br />
        Plovdiv &lt;-&gt; Blagoevgrad, 256km, BGN 9<br />
        Sofia &lt;-&gt; Blagoevgrad, 102km, BGN 7.50<br />
        Sofia &lt;-&gt; Varna, 509km, BGN 30<br />
        Sofia &lt;-&gt; Vidin, 193km, BGN 5<br />
        Sofia -&gt; Pleven, 163km, BGN 6<br />
        Varna &lt;-&gt; Burgas, 131km, BGN 12.50<br />
        Varna &lt;-&gt; Pleven, 300km, BGN 6.50<br />
        Burgas &lt;-&gt; Haskovo, 212km, BGN 12<br />
        Vidin -&gt; Pleven, 204km, BGN 5<br />
        Pleven &lt;-&gt; Ruse, 151km, BGN 10.50<br />
        Ruse &lt;-&gt; Varna, 192km, BGN 7<br />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label asp-for="DeparturePlace" class="control-label">Departure from:</label>
                <input asp-for="DeparturePlace" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ArrivalPlace" class="control-label">Arrival at:</label>
                <input asp-for="ArrivalPlace" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label" style="padding-right:10px">Add intermediate points:</label>
                <input type="checkbox" id="checkbox" value="true" style="-webkit-transform: scale(2);" onclick="ShowHideDiv(this)" />
            </div>
            <div class="form-group" id="intermediate" style="display:none">
                <label asp-for="IntermediatePlace" class="control-label">Intermediate place/s:</label>
                <input asp-for="IntermediatePlace" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@*<h2 style="padding:100px;">@Model.User.Map.GraphString</h2>*@

<h3>@Model.DeparturePlace - @Model.ArrivalPlace Path (intermediate point @Model.IntermediatePlace):</h3>
<h4>@Model.PathShort</h4>
<h4>Price: BGN @string.Format("{0:F}", Model.PathPrice)</h4>
<h4>Length: @Model.PathLength km</h4>

<br /><br />
<script type="text/javascript">
    function ShowHideDiv(checkbox) {
        var div = document.getElementById("intermediate");
        if (checkbox.checked) {
            div.style.display = "block";
        }
        else {
            div.style.display = "none";
            div.innerHTML = "";
        }
        div.style.display = checkbox.checked ? "block" : "none";
    }
</script>