@using LeadTheWay.GraphLayer.Map.Service;
@using LeadTheWay.GraphLayer.Map.Service.Search.Services;
@using LeadTheWay.GraphLayer.Map.Service.Search.Services.Utility;
@using LeadTheWay.Models.ViewModels;
@using LeadTheWay.Extensions;

@model MapServiceViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

@*@if (User.IsInRole(StaticDetails.AdminUser))
    {
        <a class="nav-link" asp-area="Admin" asp-controller="MapsManagement" asp-action="Index">Manage Maps</a>
    }*@

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label asp-for="DeparturePlace" class="control-label">Departure from:</label>
                <input asp-for="DeparturePlace" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ArrivalPlace" class="control-label">Arrival at:</label>
                <input asp-for="ArrivalPlace" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label" style="padding-right:10px">Add intermediate points:</label>
                <input type="checkbox" id="checkbox" value="true" style="-webkit-transform: scale(2);" onclick="ShowHideDiv(this)" />
            </div>
            <div class="form-group" id="intermediate" style="display:none">
                <label asp-for="IntermediatePlace" class="control-label">Intermediate place/s:</label>
                <input asp-for="IntermediatePlace" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<h2 style="padding:100px;">@Model.User.Map.GraphString</h2>
<h3>@Model.DeparturePlace - @Model.ArrivalPlace Path (intermediate point @Model.IntermediatePlace):</h3>
<h4>@Model.PathShort</h4>
<h4>Price: BGN @string.Format("{0:F}", Model.PathPrice)</h4>
<h4>Length: @Model.PathLength km</h4>

<br /><br />
<script type="text/javascript">
    function ShowHideDiv(checkbox) {
        var div = document.getElementById("intermediate");
        if (checkbox.checked) {
            div.style.display = "block";
        }
        else {
            div.style.display = "none";
            div.innerHTML = "";
        }
        div.style.display = checkbox.checked ? "block" : "none";
    }
</script>